* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --background-color: #483f8a;
  --primary-color: #3a386c;
  --primary-light-color: #9b97b6;
  --secondary-color: rgb(246, 222, 135);
  font-size: 16px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 768px) {
  * {
    font-size: 10px;
  }
}
@media (orientation: landscape) and (max-width: 900px) {
  * {
    font-size: 10px;
  }
}
